---
import Layout from '../components/Layout.astro';
---

<Layout title="Mario564's Projects">
  <div class="flex justify-center mt-16 px-content relative overflow-hidden">
    <div class="max-w-[1000px] flex flex-col items-center z-[6] relative my-16">
      <p>This page is under construction. Come back sometime later.</p>
    </div>
  </div>
</Layout>
